# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Build / dist
# ===============================
dist/

# ===============================
# Logs
# ===============================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Editor / IDE
# ===============================
.vscode/*
!.vscode/settings.json
