/* ======================================
   Fonts (local)
   ====================================== */

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
