//- List component
//- props:
//- - items: array [{ text, href? }]
//- - parent: string (optional, BEM block)
//- - attrs: object (optional, attributes for ul)

mixin list(props)
  -
    var items = props.items || []
    var parent = props.parent || null
    var attrs = props.attrs || {}

    var baseClass = 'list'
    var parentClass = parent ? ' ' + parent + '__list' : ''
    var classes = baseClass + parentClass

  ul(class=classes)&attributes(attrs)
    each item in items
      li.list__item
        if item.href
          a.list__link(href=item.href) #{item.text}
        else
          span.list__text #{item.text}


//-+list({
    parent: 'section-a',
    items: [
      { text: 'Home', href: '/' },
      { text: 'Catalog', href: '/catalog' },
      { text: 'Contact', href: '/contact' }
    ]
  })
  <ul class="list section-a__list">
    <li class="list__item">
      <a class="list__link" href="/">Home</a>
    </li>
    <li class="list__item">
      <a class="list__link" href="/catalog">Catalog</a>
    </li>
    <li class="list__item">
      <a class="list__link" href="/contact">Contact</a>
    </li>
  </ul>
